
<h5>
  <div class="container-fluid">
  <h3>Skills</h3>
  <br>

<div class="row main">
    <div class="col-md-2 pt-5"><i class="fab fa-github fa-2x"></i>
    <br><br><br>
    <div class="progress">
      <div class="progress-bar" style="width:35%"></div>
    </div>
   
    </div>
    <div class="col-md-2 pt-5"><i class="fab fa-git fa-2x" ></i>
      <br><br><br>
      <div class="progress">
        <div class="progress-bar" style="width:70%"></div>
      </div>
  </div>
    <div class="col-md-2 pt-5"><i class="fab fa-html5 fa-2x"></i>
      <br><br><br>
      <div class="progress">
        <div class="progress-bar" style="width:70%"></div>
      </div>
  </div>
    <div class="col-md-2 pt-5"><i class ="fab fa-java fa-2x"></i>
      <br><br><br>
      <div class="progress">
        <div class="progress-bar" style="width:70%"></div>
      </div>
  </div>
    <div class="col-md-2 pt-5"><img src="/assets/images/cobol 89.png"width = "89" height = "89" >
  
      <div class="progress">
        <div class="progress-bar" style="width:70%"></div>
      </div>
  </div>
  <div class="col-md-2 pt-5"><img src="/assets/images/OIP.ico" width = "89" height = "89" >
    <br>
    <div class="progress">
      <div class="progress-bar" style="width:70%"></div>
    </div>
      </div>
  </div>
  </div>
  


  

  </h5> 