.container{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.border-0 {
    -webkit-border-radius: 23px !important;
    -moz-border-radius: 23px !important;
    border-radius: 23px !important;
  }
  .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }  