<div class="container ">
 
    <div class="card text-center"> 
       <h5>
  <p  ><mark class="col text-danger"><strong>Si quiere ver el curriculum sin editarlo presiones ingresar </strong></mark></p>
  <p  ><mark class="col text-danger"><strong>para editarlo debe contar con un usuario habilitado </strong></mark></p>
    </h5>
  <br>
      <div class="card-header">
    
      <b>Ingrese Usuario y Contraseña </b> 
 
      </div>
      <div class="card-body" p-4>
 
     <label style=" float:left;"><b> Email:</b></label> 
      <p> <input class="form-control m-2" type="email" [(ngModel)]="usuario.email"></p> 
      <label style="float: left;"><b> Contraseña:</b></label> 
     <p> <input class="form-control m-2" type ="password" [(ngModel)] = "usuario.password"> </p> 
     <p><button (click)="Ingresar()" class="btn btn-primary btn-block m-2">Ingresar</button></p>
   
    
 
   </div> 
     </div>  
  
 
 
 