<app-navbar-editar></app-navbar-editar>
<ng-template [ngIf] ="this.permiso =='editar'">
  <div class="container-sm">
  <h5>
    <div class="row">
      <div class="col"><h3><kbd>Idiomas </kbd></h3> 
        <div  class="col text-danger"> <h6>Modo editar</h6> </div>
        
      </div>
        <div class="col"> </div>
        <div class="col"> </div>
      </div>
   </h5>
  </div>
  <div class= "container-sm table-dark">
  <h5>
    <p  ><mark class="col text-danger"><strong>Complete datos si desea dar una nueva alta</strong></mark></p>
   <br>
 <p>Idioma *   : <input type="string" [(ngModel)]="idio.nombreIdioma"></p>
 <p>Nivel          : <input type ="string" [(ngModel)] = "idio.nivelIdioma "> </p>
 

 <p><button (click)="altaIdioma(idio); recargar()" class="btn btn-outline-success">Confirmar alta</button>
       
 </p>
 <br>

</h5>
    </div>
  
    <div class= "container-sm table-dark">
  <h5>
    <p  ><mark class="col text-danger"><strong>Complete datos a modificar o presione borrar para quitar dato </strong></mark></p>
    <br>
    <tr *ngFor="let idi of idiom">
       <p> Idioma  *  : <input type="string" [(ngModel)]="idi.nombreIdioma"></p>
        <p>Nivel          : <input type ="string" [(ngModel)] = "idi.nivelIdioma"> </p>
        
          <p><button (click)="modifIdioma(idi)" class="btn btn-outline-primary">Confirmar modificación</button> &nbsp;
            <button (click)="delIdioma(idi)"  class="btn btn-outline-danger">Borrar dato </button></p>
         
       
            <br>
      
        
        
       <p class="table-light"></p>
       

    </tr>

    </h5>

</div>

</ng-template>















