<div class="container-sm">
   
    <ng-template [ngIf] ="this.permiso=='editar'">
<h5>
        <div class="row">
            <div class="col"><H3><kbd>Tiempo Libre</kbd></H3></div>
            <div class="col"> </div>
            <a class="col nav-link active"href="editar-hobbies"><img src="/assets/images/icons8-edit-24.png"  alt="modificacion"></a> 
          </div> 
          
         
    </h5>    
    </ng-template>


<ng-template [ngIf] ="this.permiso=='log'">
<h5>
    <div class="row">
        <div class="col"><H3><kbd>Tiempo Libre</kbd></H3></div>
        <div class="col"> </div>
        <div class="col"> </div>
      </div>
   </h5>
    
</ng-template>
</div>
<div class= "container-sm table-dark">
   <h5>
  <br>
    <tr *ngFor="let hobb of hob">
        <p  class="col text-danger"> <strong>{{hobb.nombreHobbie}}</strong></p>
        <p>Descripción: <strong>{{hobb.descripcioHobbie}}</strong> </p>
       

        <hr>
        <br>
       
       

    </tr>

    </h5>

</div>


